<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Can you understand? All the cool kids can.</h2>
    <p><%= @original.piggie_it %></p>
  </body>
</html>